*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    scroll-behavior: smooth;
    
}

.nav{
    animation: titulo 1s;

    &__li{
        display: none;
    }
    &__logo{
    display: inline-flex;
    justify-content: center;
    height: 15rem;
    padding: 2rem;
    transition: 1s;
    }
}

.section1{
    transition: 2s;
    text-align: center;
    position: relative;

    &__h1{
        font-size: 3.6em;
        padding: .1em;
        animation: titulo 1s ;
    }

    @keyframes titulo {
        from{
            transform: scale(1.4);
        }
        to{
            transform: scale(1);
        }
    }

    &__p{
    font-size: 1.1em;
    animation: titulo 1s;
    margin: 1.25rem;
    text-align: justify;
    }
}

.div{
    display: grid;
    grid-template-areas: "img img";
    margin: 3em .2em 2em;
    animation: titulo 1s;
    & img{
        width: 100%;
        height: 100%;
        // border: .3em solid;
        outline: .5em solid;
    }
}

.section2{
    text-align: center;

    &__h1{
        font-size: 3em;
        margin: 3em auto 1em;
    }

    &__div{
        &__h2{
            font-size: 2em;
        }
    .transformaciones__grid{
        display: grid;
        grid-template-areas:
        "img img";
        margin: 2em .2em 7em;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            // border: .3em solid;
            outline: .5em solid;
        }
    }
    }
}

.section3{
    text-align: justify;
    margin: -3em auto 2em auto;
    padding: 0 1em;
    &__h1{
        text-align: center;
    }
}

.footer{
    text-align: center;
    &__div{
        display: flex;
        justify-content: space-between;
        padding: 1em 4.5em;
        a{
            color: #000000;
            font-size: 3em;
        }
    }
    p{
        font-size: 1.4em;
        color: white;
        background-color: rgba($color: #000000, $alpha: .9);
    }
}

@media screen and (min-width: 760px){

    header{
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        background-color: rgb(7, 32, 33);
        &__ul{
            display: flex;
            justify-content: center;
            align-items: center;
        }

    &__li{
    display: inline-flex;
    justify-content: space-between;
    padding: 2.2rem;
    }

    &__a{
        text-decoration: none;
        font-size: 2em;
        transition: .3s;
        color: white;

    &:hover{
        color: #1190ca;
        transition: .3s;
        }
    }

    &__logo{
        height: 8em;
        filter: blur();
    }

    
    }

    .section1{
        &__h1{
        font-size: 8rem;
        padding: 1em auto 3em;
        margin-top: .5em;
        transition: .3s;
        &:hover{
            transition: .3s;
            color:#4190ca;
        }
        }
        &__p{
            font-size: 3em;
            background-color:rgba($color: #000000, $alpha: .9);
            color: white;
            margin: 2em auto;
            text-align: center;
        }
        .div{
            margin: auto 12em;
        }
    }
    .section2{
        &__h1{
            font-size: 10em;
            margin: 1em;
        }
        &__div__h2{
            font-size: 8em;
            margin: 1em auto;
        }
        .transformaciones__grid{
            margin: auto 12em;
        }
    }
    .section3{
        margin: 7em auto;
        padding: 3em;
        background-color: #000000;
        color: white;
        &__h1{
            font-size: 6em;
        }
        &__p{
            font-size: 2.4em;
        }
    }
    .footer{
        a i{
        font-size: 2em;
        margin: 0 2em 1em;
        }
    }
}